.NavbarItems {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 80px;
    border-style: solid;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color:#fff;
    justify-content: start;
    margin-left: 20px;
    cursor:pointer
}

